<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="application-name" content="AUN Web Dashboard">
    <meta name="author" content="vyPal">
    <meta name="description" content="The online control panel for AUN">
    <meta name="keywords" content="website, web, dashboard, dash, aun, bot, online">
    <meta name="generator" content="ejs">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00bfff">
    <meta name="og:site_name" value="AUN Web Dashboard">
    <meta name="og:title" content="1 FREE KEY">
    <meta name="og:url" content="https://www.aunbot.tk/me/deals">
    <meta name="og:description" content="View current and upcoming special deals">
    <meta name="og:image" content="https://images.discordapp.net/avatars/808613132850561055/7bb914fbe3518b700f98d99b4d572764.png?size=512">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://drive.google.com/uc?export=view&id=129_JKrVi3IJ6spDDciA5Y5sm4pjUF7eI"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://drive.google.com/uc?export=view&id=129_JKrVi3IJ6spDDciA5Y5sm4pjUF7eI"/>

    <title><%- pageTitle %></title>

    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="page-content">
      <% if(user) { %>
        <h1>The 1 FREE KEY special offer</h1>
        <p>Hello, and welcome to the first AUN deal! Want to get a free premium key? No problem! This is where you can get it! Click on the button below! (You can click only once)
        <form id="form">
          <input id="button" type="submit" <% if (userSettings.getSetting('1freekey', user.id) == "claimed") { %> disabled value="You already claimed this" <% } else { %> value="Get a key!" <% } %> >
        </form>
        <script>
          var socket = io.connect('https://www.aunbot.tk');
          socket.on('connect', function(data) {
            socket.emit('join', 'Connection from <%- user.tag %> for <%- pageTitle %>');
          });
          socket.on('broad', function(data) {
            alert(data);
            location.reload(true);
          });
          $('#form').submit(function(e){
            e.preventDefault();
            var message = '{"cmd": "set","id": "<%- user.id %>"}'
            socket.emit('1freekey', message);
          });
        </script>
      <% } %>
    </div>
</body>
</html>