<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="application-name" content="AUN Web Dashboard">
    <meta name="author" content="vyPal">
    <meta name="description" content="The online control panel for AUN">
    <meta name="keywords" content="website, web, dashboard, dash, aun, bot, online">
    <meta name="generator" content="ejs">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00bfff">
    <meta name="og:site_name" value="AUN Web Dashboard">
    <meta name="og:title" content="AUN Server manager">
    <meta name="og:url" content="https://www.aunbot.tk/server">
    <meta name="og:description" content="Manage this server's settings">
    <meta name="og:image" content="https://images.discordapp.net/avatars/808613132850561055/7bb914fbe3518b700f98d99b4d572764.png?size=512">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://drive.google.com/uc?export=view&id=129_JKrVi3IJ6spDDciA5Y5sm4pjUF7eI"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="https://drive.google.com/uc?export=view&id=129_JKrVi3IJ6spDDciA5Y5sm4pjUF7eI"/>

    <title><%- pageTitle %></title>

    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div class="page-content">
        <% guilds.forEach(guild => { %>
          <% if(guild.id == guild_id) { %>
            <h1><%- guild.name %> settings</h1>
          <% } %>
        <% }) %>
        <br>
        <% guilds.forEach(guild => { %>
          <% if(guild.id == guild_id){ %>
            <% if((guild.permissions & 0x20) == 0x20){ %>
              <div class="settings-container">
                <h2>Server premium</h2>
                <form id="premium-form">
                  <% if (!serverSettings.getSetting('premium_until', guild.id)) { %>
                    <h4><%- guild.name %> doesn't have active premium.</h4>
                  <% } else { %>
                    <h4><%- guild.name %> has prmium until <%- new Date(serverSettings.getSetting('premium_until', guild.id)).toString() %></h4>
                  <% } %>
                  <% if (user.id == "588686932918403072" || user.id == "719452517372526602") { %>
                    <h4>You have unlimited premium keys</h4>
                  <% } else { %>
                    <h4>You have <%- userSettings.getSetting('premium_keys', user.id) || 0 %></h4>
                  <% } %>
                  <input type="number" id="premiumbox" value="1" min="0" max="12"/>
                  <input id="premiumbutton" type="submit" value="Save">
                </form>
              </div>
              <div class="settings-container">
                <h2>Server prefix</h2>
                <form id="prefix-form">
                  <input type="text" id="prefixbox" placeholder="<%- discordPrefix.getPrefix(guild_id) %>" />
                  <input id="prefixbutton" type="submit" value="Save">
                </form>
              </div>
              <div class="settings-container">
                <h2>Server language</h2>
                <form id="language-form">
                  <select name="language" id="languagebox" form="language-form">
                    <option value="en" selected>en</option>
                    <option value="cz">cz</option>
                  </select>
                  <input id="languagebutton" type="submit" value="Save">
                </form>
              </div>
              <div class="settings-container">
                <h2>Server default channel</h2>
                <form id="dchannel-form">
                  <select name="dchannel" id="dchannelbox" form="dchannel-form">
                    <% discordClient.guilds.cache.get(guild_id).channels.cache.filter(channel => channel.type == "text").forEach(channel => { %>
                      <option value="<%- channel.id %>"><%- channel.name %></option>
                    <% }) %>
                  </select>
                  <input id="dchannelbutton" type="submit" value="Save">
                </form>
              </div>
              <div class="settings-container">
                <h2>Welcomer join</h2>
                <form id="welcomerjoin-form">
                  <select name="welcomerjoinchannel" id="welcomerjoinchannelbox" form="welcomerjoin-form">
                    <% discordClient.guilds.cache.get(guild_id).channels.cache.filter(channel => channel.type == "text").forEach(channel => { %>
                      <option value="<%- channel.id %>"><%- channel.name %></option>
                    <% }) %>
                  </select><br>
                  <p>You can use (member), (server), and (members) placeholders</p>
                  <input type="text" id="welcomerjoinbox" placeholder="<%- serverSettings.getSetting('welcomer_join_msg', guild_id) %>" />
                  <input id="welcomerjoinbutton" type="submit" value="Save">
                </form>
              </div>
              <script> 
              var socket = io.connect('https://www.aunbot.tk');
              socket.on('connect', function(data) {
                  socket.emit('join', 'Connection from <%- user.tag %> for <%- guild.name %>');
              });
              //alerts
              socket.on('broad', function(data) {
                alert(data);
                location.reload(true);
              });
              //prefix
              $('#prefix-form').submit(function(e){
                e.preventDefault();
                var message = $('#prefixbox').val();
                if(message == "") {
                  message = "<%- discordPrefix.getPrefix(guild_id) %>";
                }
                message = '{"cmd": "set","id": "<%- guild_id %>","prefix": "' + message + '"}'
                socket.emit('prefix', message);
              });
              //language
              $('#language-form').submit(function(e){
                e.preventDefault();
                var message = $('#languagebox').val();
                message = '{"cmd": "set","id": "<%- guild_id %>","language": "' + message + '"}'
                socket.emit('language', message);
              });
              //default channel
              $('#dchannel-form').submit(function(e){
                e.preventDefault();
                var message = $('#dchannelbox').val();
                message = '{"cmd": "set","id": "<%- guild_id %>","channel": "' + message + '"}'
                socket.emit('dchannel', message);
              });
              //welcomer join module
              $('#welcomerjoin-form').submit(function(e){
                e.preventDefault();
                var message = $('#welcomerjoinbox').val();
                var channel = $('#welcomerjoinchannelbox').val();
                message = '{"cmd": "set","id": "<%- guild_id %>","channel": "' + channel + '", "msg": "' + message + '"}'
                socket.emit('welcomerjoin', message);
              });
              //premium
              $('#premium-form').submit(function(e){
                e.preventDefault();
                var message = $('#premiumbox').val();
                let send_message = "{}";
                if (<%- user.id == "588686932918403072" || user.id == "719452517372526602" %> && message != 0) {
                  <% if(!serverSettings.getSetting('premium_until', guild_id)) { %>
                    let until = new Date(Date.now());
                  <% } else { %>
                    let until = new Date("<%- serverSettings.getSetting('premium_until', guild_id) %>")
                  <% } %>
                  until.setMonth(until.getMonth() + 1)
                  send_message = '{"cmd": "set", "id": "<%- guild_id %>", "premium_until": "' + until.toString() + '"}'
                }else if(<%- user.id == "588686932918403072" || user.id == "719452517372526602" %> && message == 0) {
                  send_message = '{"cmd": "remove", "id": "<%- guild_id %>"}'
                }else if(<%- userSettings.getSetting('premium_keys', user.id) || 0 %> < message) {
                  send_message = '{"cmd": "remove", "id": "<%- guild_id %>"}'
                }else{
                  let until = new Date("<%- serverSettings.getSetting('premium_until', guild_id) || "" %>")
                  until.setMonth(until.getMonth() + 1)
                  send_message = '{"cmd": "set", "id": "<%- guild_id %>", "premium_until": "' + until.toString() + '"}'
                  <% userSettings.setSetting(userSettings.getSetting('premium_keys', user.id) - 1, 'premium_keys', user.id) %>
                }
                socket.emit('premium', send_message);
              });
              </script>
            <% } else { %>
              You do not have the <pre>MANAGE_GUILD</pre> permission
            <% } %>
          <% } %>
        <% }) %>
    </div>
</body>
</html>